.game-setup-container {
    margin: 0;
    padding: 0;
    min-width: 300px;
    width: 800px;
    max-width: 800px;
}

.setup-section {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background: rgba(240, 247, 255, 0.8);
}